body{
    font-family: Verdana;
    background-color: black;
    color: white;
}
button{
    border: 0px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 400px;
}
input{
    padding: 8px;
    border-radius: 4px;
}
.container{
    display: flex;
    border: 2px solid gray;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.user{
   
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid gray;
}
.users{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
